@inherits LayoutComponentBase

<div class="odx-app">
    <odx-header></odx-header>

    <main class="odx-app-main">
        <div class="odx-app-page">
            <odx-area-header></odx-area-header>

            <div class="odx-app-page__content">
 <button class="odx-button" @onclick="@(() => navOpen = true)">
    ☰ Menü
</button>

<NavMenu IsOpen="navOpen" IsOpenChanged="@(v => navOpen = v)" />            
                @Body
            </div>
        </div>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    private bool navOpen;
}
